<config>
    <modules>
        <Magentos_Tutorial>
            <version>0.1</version>
        </Magentos_Tutorial>
    </modules>
    <global>
    	<blocks>
            <magentos><class>Magentos_Tutorial_Block</class></magentos>
        </blocks>
        <helpers>
            <magentos><class>Magentos_Tutorial_Helper</class></magentos>
        </helpers>
    </global>
    <frontend>
        <routers>
            <magentos>
                <use>standard</use>
                <args>
                    <module>Magentos_Tutorial</module>
                    <frontName>magentos</frontName>
                </args>
            </magentos>
        </routers>
         
    </frontend>
</config>